
.vs/

# Ignore Debug directory
Debug/

# Ignore logs directory
logs/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test.py


/MQTT-Broker/x64
*.pdb
subs.client as mqtt
x64/Debug/MQTT-Broker.pdb
